
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
      <ul class="navbar">
        <li><a href="https://gabehess.com/essays/">Essays</a></li>
        <li><a href="https://gabehess.com/poems/">Poems</a></li>
      </ul>
      <ul class="navbar_mobile">
        <div class="dropdown">
        <button class="dropbtn"><img src="https://gabehess.com/assets/images/menu.svg" alt="nav" width="20" height="17"></button>
        <div class="dropdown-content">
          <a href="https://www.gabehess.com/essays/">Essays</a>
          <a href="https://www.gabehess.com/poems/">Poems</a>
        </div>
        </div>
      </ul>
</div>
</nav>
